.expense-list {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: auto;
  margin: 0 auto;
  width: 50rem;
  background-color: #121314;
  padding: 20px 20px;
}

.expense-list__contents {
  flex: 1;
  min-height: 0;
  overflow: auto;
  margin-top: 2rem;
}